<script>

	FB.init({
		appId  : '{{ fb_app_id }}',
		status : true, // check login status
		cookie : true, // enable cookies to allow the server to access the session
		xfbml  : true  // parse XFBML
	});
	

	function setInputValue(id, value)
	{
		if(value != null && value != false && value != '')
		{
			$('#'+id).val(value); // Sets value of input field control			
			$('#'+id).addClass('hidden'); // Hides input field control
			$('#'+id).parent().append('<p id="'+id+'-set" class="setfield">'+value+'</p>');	// Sets it to be uneditable text
		}
		else
		{
			return null; // Graceful fail
		}
	}
	
	function setNextPrevious(mode)
	{
		if(mode == 'microsite')
		{
			$('u_next_action_control').val('{% if sys.is_dev %}http://localhost:8080/{% else %}http://yvrevolution.appspot.com/{% endif %}?pledgeSuccess=true')
			$('#u_prev_action_control').val('{% if sys.is_dev %}http://localhost:8080/{% else %}http://yvrevolution.appspot.com/{% endif %}?pledgeFailure=true');
		}
		
		else if(mode == 'fb-main')
		{
			$('u_next_action_control').val('{% if sys.is_dev %}http://localhost:8080/{% else %}http://apps.facebook.com/yvrevolution/{% endif %}?pledgeSuccess=true')
			$('#u_prev_action_control').val('{% if sys.is_dev %}http://localhost:8080/{% else %}http://yvrevolution.appspot.com/{% endif %}?pledgeFailure=true');
		}
		
		else if(mode == 'fb-tab')
		{
			$('u_next_action_control').val('{% if sys.is_dev %}http://localhost:8080/{% else %}http://yvrevolution.appspot.com/{% endif %}?pledgeSuccess=true')
			$('#u_prev_action_control').val('{% if sys.is_dev %}http://localhost:8080/{% else %}http://yvrevolution.appspot.com/{% endif %}?pledgeFailure=true');

		}
	}

	function fbSetInfo(response)
	{	
		setInputValue('firstname_input', response.first_name); // Set firstname field
		setInputValue('lastname_input', response.last_name); // Set lastname field
		setInputValue('email_input', response.email); // Set email field

		{% if u_key %}$('#u_key_control').val('{{ u_key }}');{% endif %} // Set key field, if it's defined
		
		$('.authbutton').addClass('hidden'); // Hide auth buttons
		$('#username').html('<strong>'+response.first_name+' '+response.last_name+'</strong>'); // Set username field
		$('#userid').removeClass('hidden'); // Show the user ID box
	}
	
	function onLogin()
	{
		FB.api('/me', fbSetInfo);
	}
	
	function fbLogin()
	{
		FB.login(

			function (response)
			{
				if(response.session)
				{
					onLogin();
				}
				else
				{
					alert('Auth fail');
				}
			}
		, {perms:'sms,email'});
	}
	
	function afterStatusPost(response)
	{
		if (response && response.post_id)
		{
			alert('Thanks for spreading the word on Facebook!');
		}
		else
		{
			alert('Unfortunately, your shared Facebook status could not be posted. Please try again later.');
		}
	}
	
	function shareViaStatus()
	{
		var publish = {
		  method: 'stream.publish',
		  message: 'pledged to vote on November 2nd!',
		  attachment: {
		    name: 'Young Voter Revolution 2010',
		    caption: 'Pledge today, make your voice heard!',
		    description: (
		      'A small JavaScript library that allows you to harness ' +
		      'the power of Facebook, bringing the user\'s identity, ' +
		      'social graph and distribution power to your site.'
		    ),
		    href: 'http://yvrevolution.appspot.com/',
		    media: [
		      {
		        type: 'image',
		        href: 'http://yvrevolution.appspot.com/',
		        src: 'http://yvrevolution.appspot.com/assets/img/layout/microsite-17_01-A.gif'
		      }
		    ]
		  },
		  action_links: [
		    { text: 'Young Voter Revolution 2010', href: 'http://yvrevolution.appspot.com/' }
		  ],
		  user_prompt_message: 'Share your pledge with your friends!'
		};

		FB.ui(publish, afterStatusPost);
	}
	
	function shareViaEmail()
	{
		
	}


FB.XFBML.parse();

</script>