<script>

	FB.init({
		appId  : '{{ fb_app_id }}',
		status : true, // check login status
		cookie : true, // enable cookies to allow the server to access the session
		xfbml  : true  // parse XFBML
	});
	

	function setInputValue(id, value)
	{
		if(value != null && value != false && value != '')
		{
			$('#'+id).val(value); // Sets value of input field control			
			$('#'+id).addClass('hidden'); // Hides input field control
			$('#'+id).parent().append('<p id="'+id+'-set" class="setfield">'+value+'</p>');	// Sets it to be uneditable text
		}
		else
		{
			return null; // Graceful fail
		}
	}

	function fbSetInfo(response)
	{	
		setInputValue('firstname_input', response.first_name); // Set firstname field
		setInputValue('lastname_input', response.last_name); // Set lastname field
		setInputValue('email_input', response.email); // Set email field

		{% if u_key %}$('#u_key_control').val('{{ u_key }}');{% endif %} // Set key field, if it's defined

		$('#u_next_action_control').val('{% if sys.is_dev %}http://localhost:8080/{% else %}http://yvrevolution.appspot.com/{% endif %}?pledgeSuccess=True'); // Set next action for form

		$('#u_prev_action_control').val('{% if sys.is_dev %}http://localhost:8080/{% else %}http://yvrevolution.appspot.com/{% endif %}?pledgeFail=true'); // Set previous action for form, will be returned here for validation errors
		
		$('.authbutton').addClass('hidden'); // Hide auth buttons
		$('#username').html('<strong>'+response.first_name+' '+response.last_name+'</strong>'); // Set username field
		$('#userid').removeClass('hidden'); // Show the user ID box
	}
	
	function onLogin()
	{
		FB.api('/me', fbSetInfo);
	}
	
	function fbLogin()
	{
		FB.login(

			function (response)
			{
				if(response.session)
				{
					onLogin();
				}
				else
				{
					alert('Auth fail');
				}
			}
		, {perms:'sms,email'});
	}
	
	function shareViaStatus()
	{
		FB.ui(
		{
			method: 'stream.publish',
			message: 'I pledge to vote in 2010! I\'m young, I\'m blue and I play to win!',
			attachment: {
				name: 'Pledge to Vote',
				caption: 'Young Voter Revolution 2010',
				description: (
					'There are too many important issues on the ballot ' +
					'to ignore. If you want to see the world around you improve, ' +
					'pledge to vote today!.'
				),
				href: 'http://yvrevolution.appspot.com'
			},
			action_links: [
				{ text: 'Pledge!', href: 'http://yvrevolution.appspot.com/fb' }
			],
			user_message_prompt: 'Urge your friends to pledge too!'},
			
			function(response)
			{
				if (response && response.post_id) {
					alert('Thanks for sharing! Your status has been posted.');
				}
				else
				{
					alert('Post was not published.');
				}
			}
 		);
	}
	
	function shareViaEmail()
	{
		
	}


FB.XFBML.parse();

</script>