<html>

	<!-- YOUNG VOTER REVOLUTION, DEV-1 -->
	{% from "_macros.html" import fbjsInit %}

	<head>

		<title>{% block title %}{% endblock %}{{ title }}</title>
		
		{% include "_north.html" %}
		
		{% block head %}
    	{% endblock %}

	</head>

	<body class='yvr'>    
		

		<div id='wrapper'>
			
			<!-- Asynchronous FB -->
			<div id='fb-root'></div>
			<script src="http://connect.facebook.net/en_US/all.js"></script>
			
			{% block precontent %}
			{% include "_mast_layout.html" %}
			{% endblock %}

			<div id='content' class='{% block contentclass %}{% endblock %}'>
				{% block content %}<p>YVR</p>{% endblock %}
	   		</div>

			{% block postcontent %}
				{% include "fb-canvas/fbjs.html" %}
			{% endblock %}
		</div>

		{% include "_south.html" %}

	</body>

</html>