

{% macro input(name, value='', type='text', size=20, class='') -%}

    <input type="{{ type }}" name="{{ name }}" value="{{
        value|e }}" size="{{ size }}" class="{{ class }}">

{%- endmacro %}


{% macro img(url, alt, sys, absolute=True, class='') -%}
	
	{% if absolute %}
		{% if sys.dev.is_dev %}
			<img src='http://localhost:8080/assets/img/{{ url }}' alt='{{ alt }}' class='{{ class }}'/>
		{% else %}
			<img src='http://yvrevolution.appspot.com/assets/img/{{ url }}' alt='{{ alt }}' class='{{ class }}'>
		{% endif %}
	{% else %}<img src='/assets/img/{{ url }}', alt='{{ alt }}', class='{{ class }}'>{% endif %}

{%- endmacro %}

{% macro script(url, sys, absolute=True) -%}
	
	{% if absolute %}
		{% if sys.dev.is_dev %}
			<script src='http://localhost:8080/assets/js/{{ url }}'></script>
		{% else %}
			<script src='http://yvrevolution.appspot.com/assets/js/{{ url }}'></script>
		{% endif %}
	{% else %}<script src='/assets/js/{{ url }}'></script>{% endif %}

{%- endmacro %}

{% macro style(url, media='', absolute=False) -%}

	{% if absolute %}<link rel="stylesheet" href="{{ url }}" type="text/css"> 
	{% else %}<link rel="stylesheet" href="/assets/style/{{ url }}" type="text/css"> {% endif %}
	
{%- endmacro %}


{%- macro form_field_label(field) -%}
    <label for="{{ field.id }}" class='fieldlabel'>{{ field.label.text }}
    {%- if field.flags.required -%}
        <abbr title="{{ _('This field is required.') }}">*</abbr>
    {%- endif %}</label>
{% endmacro %}

{%- macro form_field_description(field) -%}
    {% if field.description %}
        <span class="descr">{{ field.description }}</span>
    {% endif %}
{%- endmacro -%}

{%- macro form_field_errors(field) -%}
    {% if field.errors %}
    <ul class="errors">
        {%- for error in field.errors -%}
        <li>{{ error }}</li>
        {%- endfor -%}
    </ul>
    {% endif %}
{%- endmacro -%}

{%- macro form_field_boolean(field) -%}
    {{ field(**kwargs) }}
    {{ form_field_label(field) }}
    {{ form_field_description(field) }}
    {{ form_field_errors(field) }}
{%- endmacro -%}

{%- macro form_field(field) -%}

	{% if field.type == 'SubmitField' %}
		{{ field() }}
	{% else %}
		{% if field.type == 'MultiCheckboxField' %}
			{{ field() }}
		{% else %}
		    {% if field.type == 'BooleanField' %}
		        {{ form_field_boolean(field, **kwargs) }}
		    {% else%}
		        {{ form_field_label(field) }}
		        {% if field.type == 'RadioField' %}
		            {{ field(class='radio-group', **kwargs) }}
		        {% else %}
		            {{ field(**kwargs) }}
		        {% endif %}
		        {{ form_field_description(field) }}
		        {{ form_field_errors(field) }}
		    {% endif %}
		{% endif %}
	{% endif %}
{%- endmacro -%}

{%- macro form_field_td(field) -%}
    {% if field.type == 'BooleanField' %}
        <td class="label"></td>
        <td class="field">
            {{ form_field_boolean(field, **kwargs) }}
        </td>
    {% else %}
        <td class="label">
            {{ form_field_label(field) }}
        </td>
        <td class="field">
        {% if field.type == 'RadioField' %}
            {{ field(class='radio-group', **kwargs) }}
        {% else %}
            {{ field(**kwargs) }}
        {% endif %}
        {{ form_field_description(field) }}
        {{ form_field_errors(field) }}
        </td>
    {% endif %}
{%- endmacro -%}


{%- macro renderForm(form_object, sys) -%}

	<form{% if kwargs.id %} id='{{ kwargs.id }}'{% endif %}{% if kwargs.action %} action='{% if sys.is_dev %}http://localhost:8080{% else %}http://yvrevolution.appspot.com{% endif %}{{ kwargs.action }}'{% endif %}{% if kwargs.method %} method='{{ kwargs.method }}'{% endif %}{% if kwargs.class %} class='{{ kwargs.class }}'{% else %} class="tipfy-form"{% endif %}>

	    {% for field in form_object %}
	        {% if field.type == 'HiddenField' %}
	            {{ field() }}
	        {% endif %}	
	    {% endfor %}

	    <ul>
	    {% for field in form_object %}
	        {% if field.type != 'HiddenField' %}
	            <li><div id='{{ kwargs.id }}-{{ field.id }}-box' class='fieldbox'>{{ form_field(field) }}</div></li>
	        {% endif %}
	    {% endfor %}
	    </ul>

	</form>

{%- endmacro -%}