{% extends "_base.html" %}

{% from "_macros.html" import renderForm %}

{% block head %}
<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js"></script>
{% endblock head %}


{% block content %}
<p>Afterauth</p>

{% if pledgeSuccess %}
	<p>Pledge success!</b>

	<p><a href="javascript:shareViaStatus();">Share via status</a></p>

	{% if emailInvitesSuccess %}
		<p>Emails invited!</p>

		{% else %}
			
			{{ renderForm('invites_form', '/_api/data/invite', 'post', invites_form) }}
			
		{% endif %}


{% else %}

	{% if pledge_form %}
	<p>Auth: <b id='auth_status'>Not Authenticated</b></p>

	<div id='pledgeform_container'>
		{{ renderForm('pledge_form', '/_api/data/pledge', 'post', pledge_form) }}	
	</div>

	{% endif %}
{% endif %}

{% include "fb-canvas/fbjs.html" %}
<script>

setSubscribes();
fbLogin();

</script>

{% include "dev_dump.html" %}
{% endblock %}